version: '3.7'
services:
  openshift{{ OCP_VERSION }}-bastion:
    build: .
    container_name: openshift{{ OCP_VERSION }}-bastion
    hostname: openshift{{ OCP_VERSION }}-bastion
    restart: always
    network_mode: host
    ports:
      - 80:80
    volumes: 
      - /opt/ocp{{ OCP_VERSION }}/sharedfolder:/home/ocp{{ OCP_USERID }}/sharedfolder
          