version: '3.7'
services:
  ocp-installer:
    build: .
    image: ocp-installer:{{ OCP_VERSION }}.{{ OCP_VERSION_RELEASE }}
    container_name: ocp-installer
    hostname: ocp-installer
    restart: always
    network_mode: bridge
    dns:
      - {{ DNSSERVER_IP }}
    ports:
      - 81:80
    volumes: 
      - ${HOME}/ocp-installer/sharedfolder:/home/ocp{{ OCP_USERID }}/sharedfolder