apiVersion: v1
baseDomain: {{ BASE_DOMAIN }} 
compute:
- hyperthreading: Enabled   
  name: worker
  replicas: 0 
controlPlane:
  hyperthreading: Enabled   
  name: master
  replicas: {{ MASTER_REPLICS }}
metadata:
  name: {{ CLUSTER_ID }}
networking:
  clusterNetworks:
  - cidr: {{ CLUSTER_CIDR }}
    hostPrefix: 24
  serviceNetwork:
  - {{ CLUSTER_SERVICE_NETWORK }}
  defaultNetwork:
    type: OpenShiftSDN
    openshiftSDNConfig:
      mode: NetworkPolicy
      mtu: 1450
      vxlanPort: 4789
platform:
  none: {}
fips: false 
pullSecret: '{{ PULL_SECRET }}'
sshKey: 'OCP_SSH_KEY' 