version: '3.7'
services:
  ocp-bootstrap-ignition:
    build: .
    container_name: ocp-bootstrap-ignition
    hostname: ocp-bootstrap-ignition
    restart: always
    network_mode: bridge
    environment: 
      - BASE_DOMAIN={{ BASE_DOMAIN }}
      - WORKERS_REPLICS={{ WORKERS_REPLICS }}
      - MASTER_REPLICS={{ MASTER_REPLICS }}
      - CLUSTER_NAME={{ CLUSTER_NAME }}
      - TIER={{ TIER }}
      - VCENTER_SERVER={{ VCENTER_SERVER }}
      - VCENTER_USER={{ VCENTER_USER }}
      - VCENTER_PASS={{ VCENTER_PASS }}
      - VCENTER_DC={{ VCENTER_DC }}
      - VCENTER_DS={{ VCENTER_DS }}
      - PULL_SECRET='{{ PULL_SECRET }}'
      - OCP_SSH_KEY='{{ OCP_SSH_KEY }}'
    volumes: 
      - ${HOME}/ocp/shared:/home/ocp{{ OCP_USERID }}/shared
          