version: '3.7'
services:
  ocp{{ OCP_VERSION }}-bootstrap:
    build: .
    container_name: ocp{{ OCP_VERSION }}-bootstrap
    hostname: ocp{{ OCP_VERSION }}-bootstrap
    restart: always
    network_mode: bridge
    ports:
      - 80:80
    volumes: 
      - ${HOME}/ocp/sharedfolder:/home/ocp{{ OCP_USERID }}/sharedfolder
          